@import "tooltip";
@import "wave";
@import "nord";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");

:root {
  /* Font family */
  --def-font: "Quicksand";

  /* Font sizes */
  --huge-font-size: 3rem;
  --big-font-size: 1.5rem;
  --normal-font-size: 1.2rem;

  --icon-font-size: 1.3em;

  --huge-font-weight: 700;
  --big-font-weight: 500;

  /* light mode colors */
  --def-bg-color: white;
  --def-fg-color: var(--nord3);
  --def-sec-color: var(--nord10);
  --def-ter-color: var(--nord9);
}

/* Font size for large devices */
@media screen and (min-width: 568px) {
  :root {
    --huge-font-size: 5rem;
    --big-font-size: 2.5rem;
    --normal-font-size: 2rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin-top: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--def-bg-color);
  font-family: var(--def-font), sans-serif;
  transition: all 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--def-fg-color);
}

body.dark-theme {
  --def-bg-color: var(--nord0);
  --def-fg-color: var(--nord6);
  --def-sec-color: var(--nord8);
  --def-ter-color: var(--nord7);
}

header {
  width: 100%;
  display: block;
  height: 30px;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

main {
  height: 75%;
  margin: auto;
  display: table;
}

.home.container {
  display: table-cell;
  vertical-align: middle;
  border: 1.5rem solid transparent;
}

i {
  font-size: var(--icon-font-size);
}

h1 {
  font-size: var(--huge-font-size);
  font-weight: var(--huge-font-weight);
}

h2 {
  font-size: var(--big-font-size);
  font-weight: var(--big-font-weight);
}

p,
ul {
  font-size: var(--normal-font-size);
  font-weight: var(--big-font-weight);
}

ul,
il {
  white-space: nowrap;
  margin-right: 20px;
  display: inline-block;
}

.home span,
a,
i {
  color: var(--def-sec-color);
}

#greeting-text {
  color: var(--def-fg-color);
}

a {
  white-space: nowrap;
}

i:hover,
a:hover,
a:active,
a:focus {
  color: var(--def-ter-color);
}

.social-icon {
  text-decoration: none;
}

/* hide email through css */
my-email::after {
  content: attr(data-domain);
}
my-email::before {
  content: attr(data-user) "\0040";
}

::-moz-selection {
  color: var(--selection-fg-color);
  background: var(--selection-bg-color);
}

::selection {
  color: var(--def-bg-color);
  background: var(--def-fg-color);
}

img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.container {
  max-width: 1200px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .home.container {
    border: 0rem solid transparent;
  }
}

@media screen and (max-width: 400px) {
  .container {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .home.container {
    border: 0.5rem solid transparent;
  }
}

#theme-button {
  font-size: 1.5rem;
  float: right;
}
